{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/index.css">
<div class="hero-section">
    <div class="hero-content">
        <img src="../static/images/1690187129100.jpg" alt="Profile Picture" class="profile-pic">
        <div class="hero-text">
            <h1>Welcome to My Portfolio</h1>
            <p>Hi, I'm <strong>Muhammed Yaseen</strong>, a passionate <strong>Python Developer</strong>.</p>
            <p>Explore my projects and learn more about me!</p>
        </div>
    </div>
    <div class="cta">
        <a href="/projects" class="cta-button">Check My Projects</a>
    </div>
</div>
{% endblock %}


