<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../static/projects.css">
</head>

<body>
    {% extends "base.html" %}

    {% block title %}Projects{% endblock %}

    {% block content %}
    <!-- Page Header Section -->
    <div class="page-header">
        <h1 class="page-title">MY PROJECTS</h1>
        <p class="intro-text">Explore the projects I've worked on. Click to see more!</p>
    </div>

    <!-- Projects Section -->
    <div class="projects-horizontal">
        <div class="project" style="background-image: url('../static/images/concept-online-shopping-on-social-260nw-1769713256.webp');">
            <h2><a href="https://yasin2417.pythonanywhere.com/" target="_blank">i-Store</a></h2>
            <p><a href="https://yasin2417.pythonanywhere.com/" target="_blank"></a>.</p>
        </div>
        <div class="project" style="background-image: url('../static/images/download.jpeg');">
            <h2><a href="https://muhammedyaseen2417.github.io/chembakam/" target="_blank">Chempakam</a></h2>
            <p><a href="https://muhammedyaseen2417.github.io/chembakam/" target="_blank"></a></p>
        </div>
       
    </div>

    <!-- Home Button -->
    <div class="home-button">
        <a href="/" class="home-link">Home</a>
    </div>
    {% endblock %}
</body>
</html>



